logging-using-elk/departure-sapi/src/main/mule/departure-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2679e44-393d-4790-a65b-e28501c64ab7" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="departure-sapi" doc:id="2c77ca59-a6a7-401b-a234-de57a9cae955" >
		<http:listener doc:name="Listener" doc:id="fbd61329-8082-4127-b152-7df7fb053c8b" config-ref="HTTP_Listener_config" path="/departure"/>
		<logger level="INFO" doc:name="Logger" doc:id="96835b46-4d1b-46b1-b2ea-681e5adac665" message='#["Preparing mission " ++  payload.mission ++ " departure information."]'/>
		<logger level="INFO" doc:name="Logger" doc:id="8f14b9ad-fa1d-43ed-850c-6ef7cc2758fa" message="Departure confirmed"/>
	</flow>
</mule>
